doctype html
html(lang="en")
    head
        title Goods and basket
        link(rel='stylesheet' href='css/style.min.css?01')
    body
        .github-link
            a(href="https://github.com/dzadranik/goods-and-basket") https://github.com/dzadranik/goods-and-basket
        main.wrapper
            .wrapper__grid
                .sorting
                    .sorting__buttons.js-sorting-buttons
                        span.sorting__title Сортировать
                        button.sorting__button.active.js-sorting(data-sorting="name") По названию
                        button.sorting__button.js-sorting(data-sorting="cost") По цене
                    label.sorting__avaliable
                        input.sorting__input.js-avaliable(type="checkbox" name="avaliable" id='avaliable')
                        span.sorting__title Только в наличии

                .good.js-good

                .pagination.js-pagination

            .wrapper__grid
                .basket
                    .basket__good.js-basket-good

                    .basket__total ИТОГ
                        .basket__total-price 
                            span.js-count-result
                            span &nbsp;рублей

                    button.basket__button Заказать

        script(type='text/javascript' src="js/script.min.js?01")